:root {
  --text-white: #ffffff;
  --text-blue: #2196f3;
  --text-black: #212121;
  --text-grey: #757575;
  --text-grey-opac: rgba(255, 255, 255, 0.6);
  --text-copyright: rgba(255, 255, 255, 0.4);
  --text-button-portfolio: #f5f4fa;
}

body {
  background-color: #ffffff;
  color: var(--text-grey);
  font-family: "Roboto", sans-serif;
}
.list {
  list-style: none;
}

/* Site nav */

.site-nav .link {
  color: var(--text-black);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--text-blue);
}

.site-nav .link.current {
  color: var(--text-blue);
}

.nav-contact {
  color: var(--text-grey);
}
.nav-contact:hover,
.nav-contact:focus {
  color: var(--text-blue);
}
/* Main */
.hero-title {
  color: var(--text-white);
}
.button {
  color: var(--text-white);
  background-color: var(--text-blue);
}

/* Section Company */
.section-title {
  display: none;
}

.section-list {
  color: var(--text-black);
}

.img:hover,
.img:focus {
  background-color: var(--text-blue);
}

.section-list-two {
  color: var(--text-black);
}
.section-list-three {
  color: var(--text-black);
}

.foot {
  color: var(--text-grey-opac);
}

.copyright {
  color: var(--text-copyright);
}

.carusel-title {
  color: var(--text-black);
}

.carusel-p {
  color: var(--text-grey);
}

/* Portfolio */
.carusel-nav {
  color: var(--text-black);
}
.carusel-nav .link {
  color: var(--text-black);
  background-color: var(--text-button-portfolio);
}

.carusel-nav .link:hover,
.carusel-nav .link:focus {
  color: var(--text-white);
  background-color: var(--text-blue);
}
